body, html {
  height: 100%;
}
.background-image {
  /* The image used */
  background-image: url("C:/xampp/htdocs/TUKPARK/img/sample.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}